NIX_DIRENV_VERSION="3.0.4"
if ! has nix_direnv_version || ! nix_direnv_version $NIX_DIRENV_VERSION; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/$NIX_DIRENV_VERSION/direnvrc" "sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="
fi
# Local environment setup
watch_file $(find . -name "*.nix" -exec printf '{} ' \;)
use flake . --impure

